{% extends "layout.html" %} {% block head %}
<header id="header" class="transparent">

    <ul class="menu-logo">
        <li>
            <a href="/" class="hometitle"><span class="text-primary">190LEES</span><span class="text-warning"> STORE</span></a>
        </li>
    </ul>
    <ul class="menu-links">
        <li class="active"><a href="/"> Home</a>
        </li>
        <li><a href="/stores"> Store </a>
        </li>
        {% if session.user_id %}
        <li class="settings"><a href="/settings"> Settings</a>
        </li>
        <li class="cart"><a href="/cart"> Cart</a>
        </li>
        {% elif session.admin %}
        <li class="adminsettings"><a href="/adminsettings"> Settings</a>
        </li>
        <li class="orders"><a href="/orders"> Orders</a>
        </li>
        <li><a href="/logout"> Logout</a>
        </li>
        {% else %}
        <li><a href="/login"> Login</a>
        </li>
        {% endif %}

    </ul>
    <ul class="ti-menu menu-icon" id="menuIcon"></ul>
</header>
{% endblock %} {% block main %}
<div class="home">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="title text-center justify-content-center">
                        <div class="text-left">
                            <h1 data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                We Help People
                            </h1>
                            <h1 data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                Live Better, Stay Healthy
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 info">
                <h1>ABOUT US</h1>
                <p>
                    We are a conveinent store located at 190 lees avenue. We provide online order and outdoor pick and delivery service. If you find any product quanlity, please contact our custome service within 24 hours.
                </p>
                <p>
                    Pickup time: Every Saturday afternoon.
                </p>
                <p>
                    Dilivery fee: $3, only deliver to downtown area, Smyth and 1375 Prince of wales area.
                </p>
            </div>
            <div class="col-md-6 col-12">
                <img src="/static/undraw_healthy_options_sdo3.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2800.710536997307!2d-75.67194748416561!3d45.415176379100444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce059ee760fc1d%3A0x13abb16a54a2e018!2s190%20Lees%20Ave%2C%20Ottawa%2C%20ON%20K1S%205L5!5e0!3m2!1sen!2sca!4v1589221150276!5m2!1sen!2sca"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="modal" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="addSession()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Please registe first to join our group delivery!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="addSession()">Close</button>
                <a type="button" class="btn btn-primary" href="/register" onclick="addSession()">Register</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}