<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css" />
    <link href="/static/style.css" rel="stylesheet">

    <title>Ottawa Delivery</title>
</head>

<body>
    {% block head %}{% endblock %} {% block main %}{% endblock %}


    <footer class="small text-center text-muted">
        &copy 2020 TinaWang
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
        $('#menuIcon').on('click', () => {
            $('.menu-links').css("right", "0");
        })
        addSession = () => {
            document.cookie = "loadhome=yes"
        }
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split('; ');
        console.log(ca.indexOf("loadhome=yes"))
        if (!ca.indexOf("loadhome=yes")) {
            $('#modal').click();
        }
    </script>
</body>

</html>