{% extends "sublayout.html" %} {% block main %}

<div class="group p-3">
    <h3>Your order histories: </h3>
    {% for cart in carts %}
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#{{cart[0].ordernum}}" role="button" aria-expanded="false" aria-controls="collapseExample">
           Order Number: {{cart[0].ordernum}}
        </a>
    </p>
    <div class="collapse" id="{{cart[0].ordernum}}">

        <div class="card card-body">
            Order time: {{cart[0].time.strftime('%Y-%m-%d') }}
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for order in cart %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{order.productname}}</td>
                    <td>$ {{order.productprice}}</td>
                    <td>{{order.amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row">Total Price:</th>
                    <td></td>
                    <td></td>
                    <td>$ {{total[loop.index-1]}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    {% endfor %}
</div>
{% endblock %}