{% extends "sublayout.html" %} {% block main %}

<div class="group">

    <div class="box">
        {% if hasPro %} {% for pro in products %}
        <div class="card" style="width: 18rem;">
            <img src="/static/uploads/{{pro.productimg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pro.productname}}</h5>
                <div class="price text-danger">$ {{pro.productprice}}</div>
                <small>{{pro.product_des}}</small>
                <button class="btn btn-primary d-flex">Add to cart</button> {% if session.admin %}
                <div class="d-flex mt-2">
                    <a href="/proupdate/{{pro.productid}}">
                        <button class="btn btn-primary">update</button>
                    </a>
                    <a href="/prodelete/{{pro.productid}}">
                        <button class="btn btn-danger ml-2">delete</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="m-5">
            <h5>New products are coming soon~</h5>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}