<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css" />

    <link href="/static/style.css" rel="stylesheet">

    <title>190LEES STORE</title>
</head>

<body>
    <header id="header" class="default">

        <ul class="menu-logo">
            <li>
                <a href="/" class="hometitle"><span class="text-primary">190LEES</span><span class="text-warning"> STORE</span></a>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="/"> Home</a>
            </li>
            <li class="stores"><a href="/stores"> Store </a>
            </li>
            {% if session.user_id %}
            <li class="settings"><a href="/settings"> Settings</a>
            </li>
            <li class="cart"><a href="/cart"> Cart</a>
            </li>
            {% elif session.admin %}
            <li class="adminsettings"><a href="/adminsettings"> Settings</a>
            </li>
            <li class="orders"><a href="/orders"> Orders</a>
            </li>
            <li><a href="/logout"> Logout</a>
            </li>
            {% else %}
            <li><a href="/login"> Login</a>
            </li>
            {% endif %}
        </ul>
        <ul class="ti-menu menu-icon" id="menuIcon"></ul>
    </header>


    {% block main %}{% endblock %}


    <footer class="small text-center text-muted">
        &copy 2020 TinaWang
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
        $('#menuIcon').on('click', () => {
            $('.menu-links').css("right", "0");
        })
        var path = window.location.pathname.replace("/", "");
        $('.' + path).addClass("active");

        function gotoOpen() {
            window.location.href = "/openstore"
        }

        function move() {
            value = document.getElementById("amount").value
            if (value == 1) {
                document.getElementById("amount").value = 1;
            } else {
                document.getElementById("amount").value = parseInt(value) - 1;
            }
        }

        function add() {
            value = document.getElementById("amount").value
            document.getElementById("amount").value = parseInt(value) + 1;
        }

        function addCart() {
            let pros = localStorage.getItem("pros") ?
                JSON.parse(localStorage.getItem("pros")) : [];


            amount = document.getElementById("amount").value
            proname = document.getElementById("name").textContent
            price = document.getElementById("price").textContent
            count = pros.filter(el => el[1] == proname)

            console.log("count", count)
            if (count.length > 0) {
                pros.map(el => el[3] = (parseInt(el[3]) + parseInt(amount)).toString())
            } else {
                pro = []
                pro[0] = create_UUID();
                pro[1] = proname
                pro[2] = price
                pro[3] = amount
                console.log(pro)

                pros.push(pro)
            }
            localStorage.setItem("pros", JSON.stringify(pros));
        }

        function create_UUID() {
            let s4 = () => {
                    return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                }
                //return id of format 'aaaaaaaa'-'aaaa'-'aaaa'-'aaaa'-'aaaaaaaaaaaa'
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }
    </script>
</body>

</html>